.bg-box-aeia {
    background-color: #7D8388;
    border-radius: 28px;
    padding-right: 15%; /* Añadir espacio para que la tarjeta no esté demasiado pegada */
    position: relative;
     /* Necesario para posicionar elementos relativos al contenedor */
}

#icon_number{
    font-size: 3vw;
    color:aliceblue;
    /* --bs-btn-color:red; */
    /* background-color: #100263; */
    /* color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
}

#beneficios i{
    font-size: 3vw;
    color:#0c58ce;
}

.card {
    background-color: black;
    border-radius: 28px;
    position: sticky; /*Hace que la tarjeta sea posicionable dentro del contenedor*/
    right: -39%; /* Mueve la tarjeta hacia la derecha del contenedor */
    top: 27%;
    width: 60vw;
    
    box-shadow: -8px 9px 4px rgba(6, 6, 11, 0.65); /* Aplicar sombra personalizada */
}

aside{
    /* height: 80vh; */
}

section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bg-blue-steps{
    background-color: #0c58ce;

    font-weight: 500;
    width: 60vw;
    color: white !important;
    height: 60vh;
    border-radius: 28px;
}

.bg-benefits{
    font-weight: 500;
    background-color: #7D8388;
    border-radius: 28px;
    color: white !important;
}


/* Pantallas pequeñas (móviles) */
@media (max-width: 576px) {
    .card {
        background-color: black;
        border-radius: 28px;
        width: 82vw;
        box-shadow: -8px 9px 4px rgba(6, 6, 11, 0.65); /* Aplicar sombra personalizada */
    }
}


/* Pantallas medianas (tabletas) */
@media (min-width: 577px) and (max-width: 768px) {
    .card {
        background-color: black;
        border-radius: 28px;
        /* width: 72vw; */
        position: sticky; /*Hace que la tarjeta sea posicionable dentro del contenedor*/
        right: -39%; /* Mueve la tarjeta hacia la derecha del contenedor */
        top: 27%;
        width: 80vw;
    
        box-shadow: -8px 9px 4px rgba(6, 6, 11, 0.65); /* Aplicar sombra personalizada */
    }
}

@media (min-width:768px) and (max-width:1175px){
    .card {
        background-color: black;
        border-radius: 28px;
        /* width: 72vw; */
        position: sticky; /*Hace que la tarjeta sea posicionable dentro del contenedor*/
        right: -39%; /* Mueve la tarjeta hacia la derecha del contenedor */
        top: 27%;
        width: 125%;
    
        box-shadow: -8px 9px 4px rgba(6, 6, 11, 0.65); /* Aplicar sombra personalizada */
    }
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1; /* Para que quede detrás del contenido */
}

.navbar{
    background-color: #0e359ef6;

}

.navbar a{
    color: white !important;


}

.feature-container {
    position: relative; /* Define el contexto de posicionamiento */
    overflow: hidden;   /* Evita que el círculo salga del contenedor */
}

.circle-effect {
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, #00155b67 50%, transparent 70%);
    border: 1px solid #ffda0627;
    border-radius: 50%;
    pointer-events: none;
    z-index: 10;
    transform: translate(-50%, -50%);
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.2s ease-out;
}


.feature-container:hover .circle-effect {
    opacity: 1; /* Mostrar el círculo al hacer hover */
}